[2019-01-28 10:38] james-toussaint opened #91 "Assert downloaded app checksum equals onchain deployed checksum"

[2019-01-30 08:40] Ugo opened #101 "Better handle worker restart"
Currently if a worker restarts it will loose all its current job. We should try to enhance this.

[2019-02-12 08:52] Ugo opened #112 "Send the latest block available for the worker when it asks for work to the core."
To make sure that the worker can see the task on chain, the core will only give work to the worker that can already see the task. This issue is linked to the on in the core: [here](https://github.com/iExecBlockchainComputing/iexec-core/issues/184)

[2019-02-13 09:34] Ugo commented on #112
Fixed in the PR #113.

[2019-02-13 09:34] #112 closed, assigned to nobody

[2019-02-13 15:08] zguesmi opened #114 "Do not request updating to RESULT_UPLOADED unless result was uploaded successfully"
The worker should not request to update status to RESULT_UPLOADED before checking if the result was effectively uploaded.

[2019-02-13 15:15] zguesmi commented on #114
#115

[2019-02-14 10:04] #114 closed, assigned to nobody

[2019-02-15 07:10] james-toussaint opened #117 "Handle crazy STOMP logs when scheduler is away (transportError every 10 millisec)"

[2019-02-19 15:55] Ugo opened #119 "Check if the worker is SGX enabled when it starts"
Currently, a simple boolean in the worker configuration file tells the core if it can support SGX tasks. So it is based on the worker nice behaviour. It should be tested automatically.

[2019-02-20 08:49] Ugo opened #122 "Check the docker image that is pulled has the correct id"
Currently if an app dev pushes a new version of a docker image with a same tag, the worker will not see the difference when executing an task based on an old version of the image. Since the id of the docker image that should be used in the task is available, it should be used to check that the worker executes the task on the right docker image.

[2019-02-21 15:00] Ugo commented on #122
The repoDigest of a docker image can be obtained with the following command:
`docker inspect --format='{{.RepoDigests}}' IMAGE_NAME`

[2019-03-04 09:56] Ugo opened #127 "Enable overriding the node the worker will connect to"
Currently, the worker gets the blockchain node address from the core. It should be able to override the address to define its own.

[2019-03-04 16:44] james-toussaint commented on #122
I think we can merge this issue with that one : https://github.com/iExecBlockchainComputing/iexec-worker/issues/91

[2019-03-05 11:36] james-toussaint commented on #127
Done in https://github.com/iExecBlockchainComputing/iexec-worker/pull/129 ;)

[2019-03-05 13:36] #127 closed, assigned to nobody

[2019-03-08 10:50] james-toussaint opened #130 "Handle Docker image cache"
* Implement strategy for Docker image management

[2019-03-08 10:51] james-toussaint commented on #130
LRU

[2019-04-02 13:45] zguesmi opened #147 "Return chainReceipt when contribute/reveal fails for onchain verification"

[2019-04-02 13:45] zguesmi commented on #147
#146

[2019-04-02 14:22] #147 closed, assigned to nobody

[2019-04-11 11:54] james-toussaint opened #152 "Implement callback.iexec"

[2019-04-11 15:24] zguesmi opened #153 "Add data download timeout"

[2019-04-25 14:19] james-toussaint commented on #117
Not super clean but should be solved in #159

[2019-04-25 14:19] #117 closed, assigned to nobody

[2019-04-25 14:23] james-toussaint commented on #152
Implemented in https://github.com/iExecBlockchainComputing/iexec-core/pull/262 & https://github.com/iExecBlockchainComputing/iexec-worker/pull/157

[2019-04-25 14:23] #152 closed, assigned to nobody

[2019-05-16 15:22] borgqueenx opened #176 "Worker bug with restarting it"
I quit my worker yesterday evening, and about 20 hours later i restarted it. (i quit the worker through the icon and it reported to be successfully stopped.)
Then i started it today, and i got this error when it asked me to continue the stopped worker:
https://i.imgur.com/8WIKgm1.png
I had to click the icon to stop again, and then i had to click start again and it worked.

However, i needed to inp

[2019-05-21 13:36] james-toussaint opened #182 "Stomp MessageDeliveryException 404 after Received Task"
Worker log getting a new task:
[code]
Should check if connection of session is fine and do something like:
[code]
but private session.getConnection() isn't null in this case

[2019-05-21 19:51] RobinDePauw opened #183 "Unexpected error occurred in scheduled task."
Got this error after receiving my first task.

2019-05-21 14:54:18.518 ERROR 6 --- [ool-14-thread-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task.

feign.FeignException: status 401 reading WorkerClient#ping(String)
	at feign.FeignException.errorStatus(FeignException.java:62)
	at feign.codec.ErrorDecoder$Default.decode(ErrorDecoder.java:91)
	at feign.Synchr

[2019-05-21 19:52] RobinDePauw commented on #183
The worker is still up and running.

[2019-05-21 20:03] RobinDePauw commented on #183
Stopped and restarted the docker container, the error did not show up again.
Executed and completed the interupted task,
but resulted in a CANT_CONTRIBUTE_TASK_NOT_ACTIVE

[2019-05-22 07:33] a1td opened #185 "Worker errors: 0xc304542BB889d25fE6282EEc9F454E55f6a8afd9"
Worker has 2 tasks with the status CREATED.
19/05/2019 03:57:10 Task ID 0xaa12f8a72c16df8a1ad4ad86ed83f5e9a7cb34f40dc08319562449b505065d80
22/05/2019 06:07:26 Task ID 0x762b4357c9683ce767bc46b83f00b056f8a1884eb40aae80e7e7e56c67145854

[logs.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3206152/logs.txt)

[2019-05-22 09:15] Ugo commented on #185
Hello, are you behind a proxy?

[2019-05-22 09:19] Ugo commented on #176
I assume that you've used the VM for your worker. Have you deleted the VM or just stopped it and restarted it?

[2019-05-22 09:27] zguesmi commented on #183
Hey @RobinDePauw,

This issue was dealt with here #181. The version 3.0.1 which contains the fix will be released soon!

Thanks,

[2019-05-22 09:27] #183 closed, assigned to nobody

[2019-05-22 09:36] AuJohan opened #186 "Failed to launch docker command"
Hi,

I have launched following command :

docker run -d --name "MY_WORKER_NAME" \
   --hostname "MY_WORKER_NAME" \
   --env "IEXEC_WORKER_NAME=MY_WORKER_NAME" \
   --env "IEXEC_CORE_HOST=main-pool.iex.ec" \
   --env "IEXEC_CORE_PORT=18090" \
   --env "IEXEC_WORKER_WALLET_PATH=/iexec-wallet/wallet.json" \
   --env "IEXEC_WORKER_WALLET_PASSWORD=MY_PASSWORD" \
   -v PATH_TO_MY_WALLET_FILE:/iexec-wall

[2019-05-22 09:42] Ugo commented on #186
Which exact version of docker are you using? Can you type `docker --version` please?

[2019-05-22 10:04] zguesmi commented on #186
I tested your command and I think you are missing a space (' ') at the end of this line
`-v /tmp/iexec-worker:/tmp/iexec-worker`
That fixed it.

[2019-05-22 10:14] borgqueenx commented on #176
Yes i used the VM. I did not delete it. Just stopped through the icon shortcut, and then start it again also with the icon.

[2019-05-22 11:01] AuJohan commented on #186
I typed it wrong, now the script has launched without returning error.
is there a command to see the status of the worker ?

I also have typed that command with a wallet that has no fund.
Is the worker will be functional as soon as I deposit ETH and RLC ?

BR, Johan

[2019-05-22 11:01] AuJohan commented on #186
Yes, thank you zied :)

[2019-05-22 11:05] vladostp commented on #176
The bug is fixed! Thanks for your report!

[2019-05-22 12:28] a1td commented on #185
Hello, I do not use proxy

[2019-05-22 12:32] james-toussaint commented on #185
Are you using the `iExec-Public-Worker.ova` VM we provide in the documentation https://docs.iex.ec/worker.html#virtual-machine-vm ?

[2019-05-22 12:39] a1td commented on #185
My worker is running in the docker, I just updated the version and launched it again.

[2019-05-22 12:45] zguesmi commented on #186
If you want to check the logs of your worker you can do:
`docker logs -f MY_WORKER_NAME`

If there are no funds in your wallet, the worker will stop and you'll see this message in the logs:
"No enough gas! please refill your wallet.."

[2019-05-22 12:48] #186 closed, assigned to nobody

[2019-05-22 15:12] zguesmi opened #188 "Worker can't get resultInfos from in-memory map after being restarted"
`2019-05-16 06:03:09.661 ERROR 6 --- [cTaskExecutor-2] .a.i.SimpleAsyncUncaughtExceptionHandler : Unexpected error occurred invoking async method: public void com.iexec.worker.executor.TaskExecutorService.uploadResult(java.lang.String) java.lang.NullPointerException: null    at com.iexec.worker.result.ResultService.getResultModelWithZip(ResultService.java:110)    at com.iexec.worker.result.ResultS

[2019-05-22 15:36] zguesmi commented on #188
#189

[2019-05-23 04:55] a1td opened #190 "Status: ABORTED_ON_CONSENSUS_REACHED"
Hi team, look at my worker log:  0xc304542bb889d25fe6282eec9f454e55f6a8afd9

Task ID 0x07a19033117e1336db5b14345cb8c175ad202d00a987266036ec03984d738d67 | 23/05/2019 00:40:50 | ABORTED_ON_CONSENSUS_REACHED
-- | -- | --

[W2-Logs.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3210284/W2-Logs.txt)

[2019-05-23 08:34] Ugo commented on #190
Hello, thanks for the ticket. When a task is initialized, for safety the core asks to 20% more workers than needed to run the computation to compensate eventual problems. Once the task has enough contribution, no additional contribution will be allowed (the consensus will be reached). Before contributing a worker always check if its contribution will be allowed, however it may happen sometimes tha

[2019-05-23 09:28] #190 closed, assigned to nobody

[2019-05-23 15:23] RobinDePauw opened #191 "ERROR: Unexpected error occurred in scheduled task"
2019-05-23 08:34:47.054  INFO 6 --- [           main] com.iexec.worker.Application             : Cool, your iexec-worker is all set!
2019-05-23 08:34:47.561  INFO 6 --- [           main] c.i.w.amnesia.AmnesiaRecoveryService     : no interrupted tasks to recover
2019-05-23 14:44:26.887 ERROR 6 --- [pool-8-thread-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled ta

[2019-05-23 15:44] james-toussaint commented on #191
Hi @RobinDePauw, thank you for your issue. It's not a bug but a bad UX.

**Explanation**:
Your worker always need a token to hit the scheduler. The token expires every 6 hours (valid from 8:34am to 2:44pm in your logs).
When the token expires, the worker->scheduler request will fail with a `401 UNAUTHORIZED` HTTP code. After that your worker will automatically get a new token and come back again t

[2019-05-23 19:16] Blauweaap87 opened #192 "I do not know my password from MEW-wallet"
The VM works fine, but i do not know my MEW-wallet password. I always use Metamask to login to my MEW wallet. This works fine. This account is already linked with the Iexec marketplace and credited with RLC. Is there a way to use my wallet?

[2019-05-23 19:34] blairmaclennan commented on #192
Here, you should use the password you set for MyEtherWallet (MEW)
If you don't know your password for MEW, you should be able to reset it with your mnemonic phrase.
  If you do not know it and cannot reset it, unfortunately, we can not help. You will just have to move around your funds.
Let me know if this addresses your issue.

[2019-05-23 20:01] RobinDePauw commented on #191
Thank you for the reply, I did indeed notice that the worker kept running.
But I was unsure if everything was still okay after the error.

Good work!

[2019-05-23 20:01] #191 closed, assigned to nobody

[2019-05-24 13:57] nathPay opened #195 "2 running task in CREATED status"
Hi,
Thoses tasks are on worker 0x13d750d7af2fdc617bf7e855c6239a1c7b7b7664 .
Task Id1 : 0x9166f66de715820ac6bbe8fdf4256c033db6a2be1e23d44dc81f93d320a47875
Task Id2 : 0x647777ec3fcf6576857588d24d376ba21a24ae60f2c458a3a8a51a5d4bf05afb

You can find logs [here](https://github.com/iExecBlockchainComputing/iexec-worker/files/3217158/log.txt)

[2019-05-24 15:09] zguesmi commented on #195
Hi @nathPay,

Which version of iexec-worker are you using?

[2019-05-24 15:47] L1b3rtyy opened #196 "Crash at worker startup"
I use ubuntu 18.04.2 LTS

I run the following command line:

sudo docker run -d --name "Twist666" \
   --hostname "Twist666" \
   --env "IEXEC_WORKER_NAME=Twist666" \
   --env "IEXEC_CORE_HOST=public-pool.iex.ec" \
   --env "IEXEC_CORE_PORT=18090" \
   --env "IEXEC_WORKER_WALLET_PATH=/iexec-wallet/wallet.json" \
   --env "IEXEC_WORKER_WALLET_PASSWORD=XXX" \
   -v /home/ubuntu/iexec-worker/wallet.j

[2019-05-24 16:00] zguesmi commented on #196
Hi @olivierkrener,

How many CPUs does your machine have?

[2019-05-24 16:25] L1b3rtyy commented on #196
@zied-guesmi Just 1, I need more?

[2019-05-24 18:03] nathPay commented on #195
I use the 3.0.1.

Restart the worker seems to resolve the problem !
Tasks were recovered and are now completed !

I'm just curious about how this bug can appear...

[2019-05-25 07:19] RobinDePauw commented on #195
I can confirm I also had this two times since 3.0.1.

[2019-05-26 12:21] Blauweaap87 commented on #192
i fixed it. thx!

[2019-05-26 14:18] LOG17 opened #197 "Failed to pull iExec SDK Docker image"
Hello,

Here is what i got when i start "worker" on the VM ( it used to work before.. )

-----------------------------------------

Cloning into '/home/iexec/iexec-worker/public'...
remote: Enumerating objects: 97, done.
remote: Counting objects: 100% (97/97), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 167 (delta 48), reused 45 (delta 19), pack-reused 70
Receiving objects

[2019-05-26 18:21] zguesmi commented on #196
Sorry I mean the number of cores in your CPU. It seems like you have a problem with the number of cores required to run a worker.

[2019-05-27 07:07] #192 closed, assigned to nobody

[2019-05-27 07:20] Ugo commented on #197
This step is to download the sdk docker image. Did you try to launch it a few times? Did it always return this error? Can you try to download the image manually to see if there any problem? You can do so by typing `docker pull iexechub/iexec-sdk:latest`.

[2019-05-27 07:54] L1b3rtyy commented on #196
How many cores do I need then?

[2019-05-27 08:19] james-toussaint commented on #196
Hi @olivierkrener, you need at least 2 CPUs.

[2019-05-27 10:06] #188 closed, assigned to nobody

[2019-05-27 10:07] #176 closed, assigned to nobody

[2019-05-27 10:16] RobinDePauw commented on #182
Can confirm I encountered this error multiple times after receiving a new task.
This causes the task to get stuck in CREATED.
This bug is also the cause of  issue: #195

Here are the logs of my worker
[logs.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3223297/logs1.txt)
[logs_restart.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3223298/logs2.txt)

[2019-05-27 15:42] a1td opened #198 "Stomp ResourceAccessException: I/O error on POST request for /connect"
Hello, look at my worker's log. In Grafana, the status of the task is "CREATED", in the explorer "COMPLETED"

Task ID 0x3c8171a351e235d5fd715f3e2d6f889ca6d0f1c35ae8cd7a9c521d9836e132c8

[logs.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3224327/logs.txt)

[2019-05-28 13:08] LOG17 opened #199 "Failed to connect to ethereum node behind a VPN"
Hello,

I have this error message. If i relaunch the VM and start worker again it work again, but all the time, after a few hours i have this error message :

2019-05-28 12:08:08.692  INFO 7 --- [      Thread-21] o.s.c.context.restart.RestartEndpoint    : Could not doRestart: Error creating bean with name 'application': Unsatisfied dependency expressed through field 'iexecHubService'; nested excep

[2019-05-29 19:35] madupont33 opened #200 "Worker error on 0x09a32cb3f07521de243e6c6aecb1936d42356a1f"
Hello, I had the following error one my worker, I already talked about it on the iExec slack, but it might be interesting for you to have a trace of it here. It is about a failed contribution:

"ERROR 6 --- [pool-4-thread-1] com.iexec.worker.chain.IexecHubService   : Failed to contribute [chainTaskId:0x901a43e6e325284ba16180caa822d78053d603cdb04c4128990138c16caaf653, exception:Transaction has fail

[2019-05-29 22:54] zguesmi commented on #200
Hi @madupont33,

Thank you for your feedback.

There are some natural reasons for the contribute to fail. A common one of them is when your worker tries to contribute after the task has already reached the consensus and contributions are closed.

[2019-05-29 23:08] madupont33 commented on #200
OK, no problem, thank you for your answer.

[2019-05-29 23:08] #200 closed, assigned to nobody

[2019-05-30 08:49] andidrea commented on #195
I have the same issue.
Same log entry.
Using 3.0.1

Task ID:
0xabfbe4443fc66f36978931b5e870c588ce89c5eca76d92f21f62aefd48585177

Stuck in Created since "30/05/2019 08:06:41".

The **solution** nathPay provided above seems to work for now: I turned off the virtual machine without(!) stopping the worker. Restarted machine, restarted worker and task was recovered.

**Edit:**
After the task has been c

[2019-05-30 08:49] andidrea commented on #182
I have the same issue.
Same log entry.
Using 3.0.1

Task ID:
0xabfbe4443fc66f36978931b5e870c588ce89c5eca76d92f21f62aefd48585177

Stuck in Created since "30/05/2019 08:06:41".

The **solution** nathPay provided in another thread seems to work for now: I turned off the virtual machine without(!) stopping the worker. Restarted machine, restarted worker and task was recovered.

**Edit:**
After the tas

[2019-06-01 06:26] casper77 opened #202 "FeignException: status 401 reading WorkerClient#ping"
2019-06-01 01:13:32.964 ERROR 6 --- [pool-8-thread-1] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task

full log in attach
[worker_log_0x3fca06242069aae3b07ff8ebd69f54121c5005de.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3243477/worker_log_0x3fca06242069aae3b07ff8ebd69f54121c5005de.txt)

[2019-06-01 08:06] nathPay commented on #195
I have this error on two new tasks, it's not exactly the same situation because now the tasks are marked as completed in the explorer but stuck in CREATED in grafana.
The result of thoses tasks is really strange.
Reboot worker doesn't help in this case...
The tasks ID : 0xde43c3de973c83fa2acf15ca86101ef6016a1038720680519d3fda5bb109d2e7
and 0xd142cdc6d070c6a2831af54fd5abefdd9aefec4a10347846751adfde

[2019-06-03 12:14] dietzam opened #203 "ERROR 6 --- [pool-8-thread-1o.s.s.s.TaskUtils$LoggingErrorHandler : Unexpected error occurred in scheduled task"
feign.FeignException: status 401 reading WorkerClient#ping(String)
	at feign.FeignException.errorStatus(FeignException.java:62)
	at feign.codec.ErrorDecoder$Default.decode(ErrorDecoder.java:91)
	at feign.SynchronousMethodHandler.executeAndDecode(SynchronousMethodHandler.java:138)
	at feign.SynchronousMethodHandler.invoke(SynchronousMethodHandler.java:76)
	at feign.ReflectiveFeign$FeignInvocationHa

[2019-06-04 11:19] zguesmi commented on #198
Hi @a1td,

Thank you for reporting.
We are inspecting this issue. Fixes will be in coming releases.

[2019-06-04 11:48] zguesmi commented on #199
Hi @LOG17,

This could be due to the internet connection or the infura node itself. We'd need more informations to inpect the issue.

[2019-06-04 11:53] LOG17 commented on #199
Hi @zied-guesmi I confirm this must be an internet connection problem since this VM is on a computer with a VPN ( purevpn ) and VM on another one is not and work fine all the time.

Is there a way for VM to connect directly to the internet without passing through the VPN software, for exemple with VM network  configuration ( NAT / Bridge / etc.. ) ?

[2019-06-04 12:03] zguesmi commented on #203
Hi @dietzam,

Thank you for reporting.
This issue was already opened here #202. Will close this to remove duplication.

[2019-06-04 12:04] Ugo commented on #198
Hello @a1td, the task stays in CREATED for you but it seems your worker doesn't do anything on it so another worker picks up the task and complete it. When looking at your logs, I can see a lot of errors, we are investigating. Just one question, have you tried to restart your worker? Did it fix the issue?

[2019-06-04 12:38] #196 closed, assigned to nobody

[2019-06-05 03:22] madupont33 opened #205 "Ethereum node in the past for canContribute"
Hi,

I got the error "CANT_CONTRIBUTE_SINCE_STAKE_TOO_LOW" at the end of a task on my worker, but there is about 50 RLC on the account. I took a screenshot of the log (that I kinda failed by the way, a part of the log is missing), and I restarted my worker, maybe I should not have done it, as the chaintask result has been deleted.

![image](https://user-images.githubusercontent.com/35268138/589282

[2019-06-05 07:31] james-toussaint commented on #205
Can you give me the wallet address of your worker (and the chainTaskId in plain text if possible) ?

[2019-06-05 07:35] james-toussaint commented on #182
Are you still having the same behaviour after restarted your worker ?

[2019-06-05 07:55] andidrea commented on #182
I had the issue this night where a task was stuck in "created" for several hours.

I rebooted the virtual machine in the morning and restarted the worker which recovered the task. The result was again "CANT_CONTRIBUTE_SINCE_TASK_NOT_ACTIVE".

Unfortunately I didn't save the log files since I assumed it was the same error. Next time I'll save the logs to see if they are different.

[2019-06-05 08:31] anemol opened #206 "App download failed with Kata Containers"
[code]

[2019-06-05 09:47] james-toussaint commented on #206
Can you tell me how you've launched your worker (VM, Docker, ..) ?

[2019-06-05 09:47] dietzam commented on #203
ok no probs

[2019-06-05 09:54] anemol commented on #206
As indicated on slack: docker (+kata-containers runtime)

I run on the same machine ( dual Xeon/E5-2640, a total of 20 physic cores, 64G memory) my 5 workers. All workers got this error almost at the same time.

[2019-06-05 12:56] james-toussaint commented on #206
If Docker+Kata containers seams a good setup, we don't support it yet.

Please try to:
1- Run one worker with the provided VM and see if you still have the problem
2- If it's fine, run mutilples workers with the provided VM and see if you still have the problem

Please let us know

[2019-06-05 13:03] james-toussaint commented on #185
Please use the provided VM and see if you still have the problem.

[2019-06-05 13:03] #185 closed, assigned to nobody

[2019-06-05 13:13] james-toussaint commented on #195
This issue is a duplicate of #182.

[2019-06-05 13:13] #195 closed, assigned to nobody

[2019-06-05 13:22] madupont33 commented on #205
Hello,

walletAddress=0x72cc0bf102b3a0c0cbf8abc831b8d4ebcb1849d2

chainTaskId:0xb3d749053b688263a11598ec6fe312606555aad147b30ffdb01c96351a3f1567

[2019-06-05 13:30] #203 closed, assigned to nobody

[2019-06-05 13:47] james-toussaint commented on #202
We need to handle this case here: https://github.com/iExecBlockchainComputing/iexec-worker/blob/064eaf931b0aa8e9cee5a35d137c00f1f5d4afe1/src/main/java/com/iexec/worker/feign/CustomFeignClient.java#L87

[2019-06-05 14:52] james-toussaint commented on #205
I see a `Failed to get ChainDeal [chainDealId:0x]`.
The `hasEnoughtStakeToContribute(..)` method needs to compare the state of your account to the price of the task (deal) but the deal is missing beceause your ethereum node is in the past (the deal is not existing yet).

The ethereum node you are using is having issues (Infura by default).

[2019-06-05 15:01] james-toussaint commented on #206
Please reopen this issue if `1-` or `2-` failed.

[2019-06-05 15:01] #206 closed, assigned to nobody

[2019-06-05 15:03] james-toussaint commented on #197
Its seams your problem is resolved, please reopen this issue if not.

[2019-06-05 15:04] #197 closed, assigned to nobody

[2019-06-05 17:22] madupont33 commented on #205
Ok, so is it on my side? Is there something I can do to solve this?

Thank you

[2019-06-08 03:27] dietzam commented on #202
I have had this problem also multiple times, just to confirm the original poster.

[2019-06-10 13:34] james-toussaint commented on #202
@dietzam Thanks for reporting again
Fix merged here https://github.com/iExecBlockchainComputing/iexec-worker/pull/209
It will be available in the next release ;)

[2019-06-10 13:34] #202 closed, assigned to nobody

[2019-06-19 14:47] james-toussaint opened #211 "Handle light node"
Almost working out of the box.

Remove `receipt.getGasUsed()` on contribute(..) and reveal(..)
https://github.com/iExecBlockchainComputing/iexec-worker/blob/1f1f1b60aa9455cc1594a7d200b29598fb121e0c/src/main/java/com/iexec/worker/chain/IexecHubService.java#L102

[code]

When removed we get:
[code]
It works but we should handle it more nicely.

[2019-07-08 08:27] nathPay opened #216 "ERROR : java.lang.IllegalArgumentException: No matching constant for [0]"
I've started a sgx worker and this error shows up:
[code]

The worker seems to work fine and is well recognized by the scheduler.

[2019-07-13 06:13] dietzam opened #219 "Cannot compute, task description not found onChain 0x2cd65fb2ee88f6a30787455293508f85abe184849656cede9af6dd712d5db420"
Hi, got this error below. task was stuck on 'created'.

I subsequently stopped and restarted the worker. it recovered, downloaded the app again and eventually completed the task.

2019-07-13 05:38:32.149  INFO 6 --- [pool-9-thread-1] c.i.worker.pubsub.SubscriptionService    : Subscribed to topic [chainTaskId:0x2cd65fb2ee88f6a30787455293508f85abe184849656cede9af6dd712d5db420, topic:/topic/task/0x2c

[2019-07-31 14:18] zguesmi opened #231 "TEE app container should run on the same docker network as the LAS"

[2019-07-31 15:35] #231 closed, assigned to nobody

[2019-08-07 09:38] zguesmi commented on #119
#232

[2019-08-07 09:38] #119 closed, assigned to nobody

[2019-08-07 09:47] zguesmi commented on #216
Hi @nathPay,

This has been fixed in this PR #223, thank you for reporting it!

[2019-08-07 09:47] #216 closed, assigned to nobody

[2019-08-07 10:09] zguesmi commented on #219
Hi @dietzam,

This is mainly related to the blockchain node (internet connection, node unsynchronized..). The worker tried to get the task description but it couldn't. Another worker took over, executed and completed the task.

[2019-08-07 10:09] #219 closed, assigned to nobody

[2019-08-08 13:19] zguesmi opened #234 "Worker recovers replicate that has just asked for"
As we can see in the logs the worker received the task

```Received TaskEvent [chainTaskId:0xb0342ebf6832b8a34a851841de2cba0f15ceedda6f6a7e0f2040c732b6205b10, action:PLEASE_START]```

and at the same time receives a notification to recover the same task

```Recovering interrupted task [chainTaskId:0xb0342ebf6832b8a34a851841de2cba0f15ceedda6f6a7e0f2040c732b6205b10, taskNotificationType:PLEASE_CONTR

[2019-08-08 13:31] zguesmi commented on #234
The fix can be at the core side as well as the worker's.

[2019-08-21 12:37] zguesmi opened #239 "Multiple workers upload at the same time"

[2019-08-21 12:37] zguesmi commented on #239
#238

[2019-08-21 12:52] zguesmi commented on #234
This could not be reproduced.

[2019-08-21 12:52] #234 closed, assigned to nobody

[2019-08-21 13:29] zguesmi commented on #239
Fixed

[2019-08-21 13:29] #239 closed, assigned to zguesmi

[2019-08-29 07:09] dietzam opened #244 "Failed task 0xb6b35f908bef74d1340831eaba1c0bde3db321ff5922486f3e92900107cd4486"
the task is stuck on this status. I cannot claim gas, please see attached screenshot. Also my stake
![Screenshot from 2019-08-29 08-55-18](https://user-images.githubusercontent.com/8992858/63918270-aa912c00-ca3c-11e9-8ad4-ae21f10504c3.png)
 is still locked.

[2019-09-18 08:54] zguesmi commented on #244
@dietzam I don't see Metamask extension installed in your browser. And also you're not connected to your iExec account so you cannot claim it.

[2019-09-22 05:28] dietzam commented on #244
@zied-guesmi
ok so I have installed Meta on Firefox and claimed, but my stake is still **locked**. And the status remains REVEALING.

![Screenshot_2019-09-22 iExec Explorerc](https://user-images.githubusercontent.com/8992858/65382649-9c89af00-dd4d-11e9-88fe-54945e26d263.png)

[2019-09-25 09:23] frigs66 opened #256 "error 6 and warn 6"
Hi,
Since the launch of V3.2 , i get a lot of (every hours) error 6 and warn 6 messages. See attached picture.
I'm not a tech guy and have no clues if it's normal or not.

Cheers
![VirtualBox_iExec-Worker_25_09_2019_11_15_19](https://user-images.githubusercontent.com/38672216/65587855-d4c80200-df86-11e9-81d6-bb38f749fe68.png)

[2019-09-25 09:40] dietzam commented on #256
I have the same issue. It appears it occurs in an hourly interval.

![InkedScreenshot from 2019-09-25 09-41-27_LI](https://user-images.githubusercontent.com/8992858/65589340-38285300-dfcc-11e9-8d09-9dedd118511d.jpg)

[2019-09-25 09:43] dietzam opened #257 "Worker Screen does not show any task related info"
Since 3.2 the worker screen is no longer showing any current task info and no longer any history.

![InkedScreenshot_2019-09-25 Worker Info - Grafana(1)_LI](https://user-images.githubusercontent.com/8992858/65589765-f055fb80-dfcc-11e9-82ec-c3317cd3d455.jpg)

[2019-09-25 10:31] zguesmi commented on #256
@frigs66 @dietzam thank you both for reporting this. I've inspected it and there's nothing to worry about. It's just a logging issue and it will be patched soon.

[2019-09-25 14:38] SDxKeeper opened #258 "TEE tasks never complete"
Since 3.2 release TEE tasks could not be executed anymore on kovan-tee-pool.

Tasks are stuck in STARTED state.

Updating $DATASET_FILENAME to $IEXEC_DATASET_FILENAME doesn't help to get tasks into COMPLETED state.

[2019-09-26 13:32] SDxKeeper opened #260 "IExec env variables are not available in scone session"
Currently IExec Env variables (like IEXEC_DATASET_FILENAME and IEXEC_INPUT_FILE_NAME_1) are added to the starting docker container, but not to the scone session, those they are not available inside of the enclave which gets env variables only from scone session.

Please modify [createSconeSecureSession](https://github.com/iExecBlockchainComputing/iexec-worker/blob/master/src/main/java/com/iexec/wo

[2019-09-27 09:55] nathPay commented on #257
Hi @dietzam , thanks for reporting, you can now have access to it.

[2019-10-13 01:13] Dverse9 commented on #256
I’m getting the same message as well. Is there a fix yet?

[2019-10-14 13:33] james-toussaint commented on #256
Your worker need to reauthenticate to the scheduler every hour for security purposes: https://github.com/iExecBlockchainComputing/iexec-core/blob/d03a16f46e0b1ac77075f98e3efdfa984773df4a/src/main/java/com/iexec/core/security/ChallengeService.java#L19

We could set this log to DEBUG (instead of INF0) but it would be harder for you when having "real" authentication issues.

This log seems showing up

[2019-10-14 13:34] #256 closed, assigned to zguesmi

[2019-10-20 15:04] Flouse opened #262 "Failed to make http call"
## Run an iexec-worker with Docker

ERROR 6 --- [main] com.iexec.worker.feign.BaseFeignClient   : Failed to make http call [action:getLoginChallenge, status:-1, attempt:123]

---
            - IEXEC_CORE_HOST=public-pool.iex.ec
            - IEXEC_CORE_PORT=18443

[2019-10-28 14:47] zguesmi commented on #262
Hi @Flouse, can you please try to ping this IP address `3.213.233.241` from inside the container?

[2019-10-28 14:47] #257 closed, assigned to nobody

[2019-10-28 14:50] zguesmi commented on #244
@dietzam, did you manage to unlock your locked RLCs?

[2019-10-28 14:51] zguesmi commented on #258
Hi @SDxKeeper, did you manage to successfully run TEE tasks?

[2019-10-31 23:24] dietzam commented on #244
No, the task remains on FAILED and the **stake remains locked**

[2019-11-01 12:19] bigsky7777 opened #265 "My worker did not complete the task"
good afternoon! I have in mind the following problem. My worker was assigned two tasks. They have created status. but my worker did not proceed with their implementation. In the explorer, these tasks have the status completed. My worker "bigsky" 0x14787FF501Ea7D640942003550d031375Fc07797

[2019-11-12 10:06] Tominator89 commented on #262
I have the same problem. I can ping that ip address. I got assigned 2 tasks and they booth have now the status worker_lost. Are there any incoming ports that have to be opened and forwarded to the worker?

Maybe it is irrelevant but i have a public ip that gets changed every night.

[2019-11-12 10:11] Tominator89 opened #267 "Task status worker_lost"
What does the status worker_lost mean? I have got 2 assigned tasks for now and both ended in the status worker_lost even if my worker runs 24/7.  I am using the VM iExec-Public-Worker.ova. The logfile only says the message which should not be relevant

Maybe it is irrelevant but i have a public ip that gets changed every night.

Are there any firewallrules that i have to set or ports that need to

[2019-11-21 10:07] Tominator89 commented on #267
Now i got captured the error message for my problem when the task is received

[2019-11-24 10:06] Jonas18175 opened #268 "Worker can't complete Tasks"
Hello,
my new worker has processed some tasks, but it can't complete any tasks - I'm frustrating.

The log of the docker container shows:
`2019-11-24 04:44:06.284  INFO 7 --- [taskScheduler-1] c.i.worker.executor.TaskManagerService   : Some tasks are using CPU [tasksUsingCpu:1, maxTasksUsingCpu:3]
2019-11-24 04:44:36.284  INFO 7 --- [taskScheduler-1] c.i.worker.executor.TaskManagerService   : Some

[2019-11-26 09:50] zguesmi commented on #262
No there are no ports to open on the machine. The scheduler does not talk to the workers. Only the worker can initiate communication. The `status: -1` in your logs means that the worker is having a problem to reach the scheduler of the pool. The latter being up, if you can ping its ip address (`3.213.233.241`) from ***inside the worker's container***, that means you may have problems with DNS reso

[2019-11-26 09:52] zguesmi commented on #265
Hi @bigsky7777, there are many reasons why your worker didn't proceed with the execution. Some of them can be normal, but if that happens every time then it can be a problem.

[2019-11-26 10:16] bigsky7777 commented on #265
@Zied-Guesmi, Yes, this problem happens all the time. My worker has 6 jobs with Created status

[2019-11-26 15:12] Tominator89 commented on #262
i did a docker exec <id_from_worker> ping 3.213.233.241 which is successfull and also a nslookup 3.213.233.241 will resolve a dns name also nslookup or ping to google.com is successfull.

[2019-12-14 22:32] dietzam opened #272 "START_FAILED"
Task id is  0xeb054023dd4a67651ed048d155667750204848e3b9a93b118d03ce2c0a6bc9f9

is this an issue on the worker side ? If yes can you please explain why. Thanks

I understand that the TASK_IS_NOT_ACTIVE, which happens when someone else is quicker to finish the task.

But all these tasks have a very low level of trust, so they would have only been distributed to one worker or are all tasks regardles

[2019-12-14 23:41] dietzam commented on #272
![VirtualBox_iExec-Worker_15_12_2019_09_35_11](https://user-images.githubusercontent.com/8992858/70855964-62ccdc80-1f27-11ea-987f-50798718b67c.png)

[2019-12-14 23:56] dietzam commented on #244
Ok so with v4, there is no more locked RLCs.

[2019-12-15 06:21] dietzam commented on #272
I think this was due to connection problem

[2019-12-15 06:22] #272 closed, assigned to nobody

[2019-12-15 06:22] #244 closed, assigned to nobody

[2019-12-15 17:07] KLMSPDN opened #273 "java.lang.IllegalArgumentException: No matching constant for [-1]"
[LOGS.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3965181/LOGS.txt)

I've a recurring issue on VM worker.

My complete logs are attached.

Thanks for your attention.

[2019-12-16 12:50] zguesmi commented on #265
Closing this after releasing the 4th version of the worker. Please reopen another issue if you have problems. Thanks!

[2019-12-16 12:50] #265 closed, assigned to nobody

[2019-12-16 12:53] zguesmi commented on #267
Hi @Tominator89, thanks for reporting.
The change of your networking config every night might (not necessary) cause problems for WebSockets but no worries, we saw this error in other workers also. We're investigating this.

[2019-12-16 12:54] zguesmi commented on #267
Closing this after releasing the 4th version of the worker. Please reopen another issue if you have problems. Thanks!

[2019-12-16 12:54] #267 closed, assigned to nobody

[2019-12-16 12:56] zguesmi commented on #267
#182

[2019-12-16 12:58] zguesmi commented on #205
@madupont33 no, for now, there is nothing you can do (except running your own Ethereum node maybe).

[2019-12-16 12:59] zguesmi commented on #205
Closing this after releasing the 4th version of the worker. Please reopen another issue if you have problems. Thanks!

[2019-12-16 12:59] #205 closed, assigned to nobody

[2019-12-16 12:59] zguesmi commented on #258
Closing this after releasing the 4th version of the worker. Please reopen another issue if you have problems. Thanks!

[2019-12-16 12:59] #258 closed, assigned to nobody

[2019-12-16 13:07] zguesmi commented on #262
Closing this after releasing the 4th version of the worker. Please reopen another issue if you have problems. Thanks!

[2019-12-16 13:07] #262 closed, assigned to nobody

[2019-12-16 14:26] zguesmi commented on #268
Thank you @Jonas18175 for reporting. We released the version 4 of the worker where we added some enhancements and fixed some issues. Please update and open another issue if you have problems.
Closing this...

[2019-12-16 14:26] #268 closed, assigned to nobody

[2019-12-16 15:01] zguesmi commented on #273
Hi @KLMSPDN,
Thank you for reporting. This is a networking issue, we will add the right handler.

[2019-12-17 06:28] Tominator89 commented on #267
seems to work with the new version. i got my first task completed

[2019-12-19 21:55] KLMSPDN commented on #273
It works perfectly fine

Cheers

[2019-12-20 04:30] dietzam opened #274 "out of gas message"
I got the below message, even though there is more then 0.2 Eth in my worker.

[2019-12-21 00:08] dietzam commented on #274
![Screenshot from 2019-12-20 05-02-33](https://user-images.githubusercontent.com/8992858/71299594-352dda80-23e2-11ea-81b5-03e219fea141.png)

[2019-12-22 10:48] LOG17 opened #275 "Losing Task"
Hello,

My worker get tasks and they are shown as  "Created" on grafana

https://public-pool.iex.ec/d/WorkerInfo/worker-info?orgId=2&var-worker=0x420398e9e15c2ec9c33497e6c48e865ea8a00815&refresh=5s

On Iexec explorer, the task is shown as "Completed"

https://explorer.iex.ec/mainnet/task/0xb8aed233ade873279fab9954e95c8cb5148b36e8b02d69c008a7ed46569a974c

But here is the question : i don't have any

[2019-12-22 17:40] KLMSPDN commented on #273
Hi !

This issue just popped up again on my other workers.

You'll find my complete logs attached

[logs 3_GDS.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3992764/logs.3_GDS.txt)

[logs 2_GDS.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/3993182/logs.2_GDS.txt)

Cheers.

Merry Christmas guys !

[2019-12-24 17:55] aayaresko opened #276 "running worker in docker on windows"
hello. I'm trying to run a worker on windows 10 in docker. the command I'm using is:

docker run -d --name "worker" --hostname "worker" --env "IEXEC_WORKER_NAME=worker" --env "IEXEC_CORE_HOST=public-pool.iex.ec" --env "IEXEC_CORE_PORT=18090" --env "IEXEC_WORKER_WALLET_PATH=/iexec-wallet/wallet.json" --env "IEXEC_WORKER_WALLET_PASSWORD=SECRET_PASS" -v c:/Users/software/iexex_rlc/iexec-wallet:/iexec

[2019-12-26 18:56] WeeDoWicH opened #277 "ERROR 6 --- [taskScheduler-2] o.s.s.s.TaskUtils$LoggingErrorHandler : Unexpected error occurred in scheduled task."
[logs.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/4003268/logs.txt)

See logs attached

[2020-01-08 10:20] james-toussaint opened #279 "Keep going if fetching secrets on a missing non TEE SMS"
If SMS/CAS url is invalid, even a non TEE task will fail when fetching secrets (no matching constant [-1])

[2020-01-08 13:04] KLMSPDN commented on #273
[logs 08012020.txt](https://github.com/iExecBlockchainComputing/iexec-worker/files/4035365/logs.08012020.txt)

[2020-01-14 10:16] zguesmi opened #280 "Worker should update to COMPUTE_FAILED when it can not compute not COMPLETE_FAILED"
[code]

[2020-01-14 10:44] zguesmi opened #281 "if (data != null) {...}"
https://github.com/iExecBlockchainComputing/iexec-worker/blob/master/src/main/java/com/iexec/worker/utils/FileHelper.java#L30

[2020-01-14 10:49] zguesmi commented on #274
@dietzam thanks for reporting, we'd need more informations to debug this. Please reopen this issue if it appears again.

[2020-01-14 10:49] #274 closed, assigned to nobody

[2020-01-14 10:51] zguesmi commented on #275
@LOG17, can you provide your worker's logs please.

[2020-01-14 10:54] zguesmi commented on #276
@aayaresko, we don't recommend running the worker outside of the VM (since it is not safe), thus, we cannot respond to this issue. Sorry

[2020-01-14 10:54] #276 closed, assigned to nobody

[2020-01-14 10:57] zguesmi commented on #277
@WeeDoWicH that's a networking issue.

[2020-01-14 10:57] #277 closed, assigned to nobody

[2020-01-14 11:02] aayaresko commented on #276
okay. not feeling like I do whant to invest in the project anymore. have a nice day

[2020-01-14 13:50] zguesmi opened #282 "Don't download beneficiary key when the result is public"
Actual behavior: the task fails with a NPE when the requester does not have an encryption key in the SMS *even* in the case of a public result.

Desired behavior: when the result is public, the worker should not try to fetch the encryption key from the SMS.

[2020-01-17 20:41] kc-pixel opened #283 "Unexpected error occurred in scheduled task"
2020-01-17 13:30:16.445 ERROR 6 --- [taskScheduler-2] o.s.s.s.TaskUtils$LoggingErrorHandler    : Unexpected error occurred in scheduled task.

java.lang.IllegalArgumentException: No matching constant for [-1]
	at org.springframework.http.HttpStatus.valueOf(HttpStatus.java:527)
	at com.iexec.worker.feign.BaseFeignClient.is4xxClientError(BaseFeignClient.java:89)
	at com.iexec.worker.feign.BaseFeignC

[2020-02-01 20:50] danielhoop opened #284 "Worker idle for days - is this normal?"
I set up a worker according to [docs.iex.ec](https://docs.iex.ec/worker.html). The console said:
[code]
The worker was running for approx. 2 days.
In the console nothing happened and my RLC balance is unchanged. Is it normal that no jobs are executed during 2 days?

[2020-02-04 00:09] LOG17 opened #285 "Worker script failure"
Hello,

Impossible to run the worker as it used to be...

Can you help ? Thank you :-)

Here are the logs :

Already up to date.
OK
[INFO] Detecting OS platform...
[OK] Detected supported OS platform [Ubuntu] ...
[INFO] Checking if docker is installed...
[OK] Docker is installed.
[INFO] Checking connection [trying to contact google.com] ...
[OK] Connection is ok.
[INFO] Stopped public worker detec

[2020-04-01 10:26] zguesmi opened #295 "Recover method not found"
[code]

[2020-04-01 12:17] #295 closed, assigned to nobody

[2020-05-25 14:45] zguesmi opened #309 "Result proxy should be required for both workflows (TEE, non TEE)"
The worker should not use implicit values for the `result-proxy url` when uploading a non TEE result. The workflow should be as similar as possible to TEE. This would make it easier for the SDK.
https://github.com/iExecBlockchainComputing/iexec-worker/blob/61c8d2158ef228c12ed3c3fc2d07a8507c34e786/src/main/java/com/iexec/worker/result/ResultService.java#L153

[2020-05-25 15:56] zguesmi commented on #282
Fixed

[2020-05-25 15:56] #282 closed, assigned to nobody

[2020-05-25 15:56] zguesmi commented on #283
Fixed thank you!

[2020-05-25 15:56] #283 closed, assigned to nobody

[2020-05-25 15:57] zguesmi commented on #273
Thank you @KLMSPDN for the reporting. We fixed it.

[2020-05-25 15:57] #273 closed, assigned to nobody

[2020-05-25 15:58] zguesmi commented on #280
Fixed

[2020-05-25 15:58] #280 closed, assigned to nobody

[2020-05-25 16:05] zguesmi commented on #281
Moved.

[2020-05-25 16:05] #281 closed, assigned to nobody

[2020-05-25 16:05] #275 closed, assigned to nobody

[2020-05-25 16:06] zguesmi commented on #284
Hi @danielhoop, there is no tasks on the public pool currently.

[2020-05-25 16:06] #284 closed, assigned to nobody

[2020-05-25 16:07] zguesmi commented on #285
Fixed.

[2020-05-25 16:07] #285 closed, assigned to nobody

[2020-06-24 16:00] zguesmi opened #320 "Worker cannot contribute when app download fails"
The worker should produce the file `computed.json` or it should not contribute when the app/dataset download fails.

[2020-07-22 09:01] zguesmi commented on #260
Merged [here](https://github.com/iExecBlockchainComputing/iexec-sms/pull/30)

[2020-07-22 09:02] #260 closed, assigned to nobody

[2020-07-23 10:18] SDxKeeper commented on #260
thanks!

[2020-07-27 15:16] zguesmi opened #327 "Handle 404 not found"
https://github.com/iExecBlockchainComputing/iexec-worker/blob/f964e9a59f91a815920bf6d17bb755d78b6189d2/src/main/java/com/iexec/worker/sms/SmsService.java#L106

Log message:

[code]

[2020-09-30 10:23] zguesmi commented on #198
Should be fixed here #328

[2020-09-30 10:25] zguesmi commented on #182
#328

[2020-10-01 11:53] zguesmi opened #332 "Handle subscription error"
[code]

[2020-10-06 14:34] zguesmi opened #333 "Do not contribute if post compute fails"
[code]

[2020-10-16 15:11] zguesmi commented on #332
Worker should not subscribe to task when the session is not yes established.

[code]

[2020-10-16 17:12] zguesmi opened #335 "Worker is assigned more tasks then he should"
[code]

[2020-11-12 08:30] james-toussaint opened #340 "Remove now-useless dependency"
Remove this custom patch :
https://github.com/iExecBlockchainComputing/iexec-worker/blob/21c5956e6fdc719df2403d569151903cd722822c/build.gradle#L75
With latest we3bj :
https://github.com/web3j/web3j/commit/e04924c7f369587a9d4fed5141d53ae70552b856

(Do the same for all client repositories)

[2020-12-21 16:15] zguesmi opened #341 "Abort tasks after deadline"
[code]

[2021-01-07 08:52] zguesmi opened #342 "Worker shouldn't restart when a task is currently being computed."
When the worker detects that the core is restarted it immediately restarts even though an application container is running. The worker should wait for the compute the finish then restart.

[2021-02-01 11:08] james-toussaint commented on #341
Fixed in https://github.com/iExecBlockchainComputing/iexec-core/pull/392.
Scheduler will detect tasks after deadline and will ask workers to abort.

[2021-02-01 11:09] #341 closed, assigned to nobody

[2021-02-05 10:52] zguesmi opened #346 "Worker should ask the scheduler if it can accept more replicates."
I suggest we move [this part](https://github.com/iExecBlockchainComputing/iexec-worker/blob/d0abc7ca20f862088b037fa10c03fa97b97519f6/src/main/java/com/iexec/worker/executor/TaskManagerService.java#L89) to the scheduler since it can cause an async problem.

[2021-02-08 08:48] james-toussaint commented on #333
Fixed with https://github.com/iExecBlockchainComputing/iexec-worker/pull/345.

(1) A Docker run execution is now considered as successful if the container exit code is zero (POSIX standard).
(2) A worker will stop its workflow right after the post-compute stage if the `computed.json` file is not found.

[2021-02-08 08:48] #333 closed, assigned to zguesmi

[2021-02-10 16:38] james-toussaint commented on #279
(1) **If SMS/CAS url is invalid, even a non TEE task will fail when fetching secrets:**
While it did happen on previous worker versions, fresh worker versions won't fire any call to a SMS while computing a Standard tasks.
Here is the single part calling a SMS which occures while computing a TEE task :
https://github.com/iExecBlockchainComputing/iexec-worker/blob/197dbc1459726bf20c0d2a84683336c84a9

[2021-02-10 16:38] #279 closed, assigned to nobody

[2021-02-17 16:17] james-toussaint commented on #320
Fixed with https://github.com/iExecBlockchainComputing/iexec-worker/pull/347 and https://github.com/iExecBlockchainComputing/iexec-core/pull/394.

For **Standard** tasks, in following cases:
* failed to download application image
* failed to download dataset file
* failed to download input file(s)

A worker will be able to on-chain contribute and then be able to publish a result archive embedding

[2021-02-17 16:21] #320 closed, assigned to nobody

[2021-02-23 09:04] james-toussaint commented on #342
Fixed with https://github.com/iExecBlockchainComputing/iexec-worker/pull/350 & https://github.com/iExecBlockchainComputing/iexec-core/pull/397.

After a Core scheduler restart, the worker asks scheduler if some computing tasks are in progress.
- If yes, the worker will finish its computing tasks before restarting.
- If no, the worker will stop running containers launched by itself (in case there a

[2021-02-23 09:05] #342 closed, assigned to nobody

[2021-02-23 09:18] james-toussaint commented on #335
Fixed with https://github.com/iExecBlockchainComputing/iexec-worker/pull/349.

The worker will always ask for new replicates. New tasks supplier and computing task consistency is maintained by the Core scheduler itself.

[2021-02-23 09:19] #335 closed, assigned to nobody

[2021-03-04 09:31] zguesmi opened #351 "Worker should remove container on abort request"
When the scheduler asks the worker to abort a task (exp [here](https://github.com/iExecBlockchainComputing/iexec-worker/blob/5.1.0/src/main/java/com/iexec/worker/executor/TaskNotificationService.java#L167)), the latter should stop and remove the pre-compute, application, or post-compute containers related to that task.
Currently, it is not the case [here](https://github.com/iExecBlockchainComputin

[2021-03-26 15:06] zguesmi commented on #346
Fixed here: #349

[2021-03-26 15:06] #346 closed, assigned to nobody

[2021-03-26 15:07] zguesmi commented on #327
Fixed in #358

[2021-03-26 15:08] #327 closed, assigned to nobody

[2021-03-26 15:09] zguesmi commented on #198
Fixed in #358

[2021-03-26 15:09] #198 closed, assigned to nobody

[2021-03-26 15:25] zguesmi commented on #182
Fixed in #358

[2021-03-26 15:25] #182 closed, assigned to nobody

[2021-03-26 15:26] zguesmi commented on #101
Fixed in #350

[2021-03-26 15:26] #101 closed, assigned to nobody

[2021-03-29 08:56] zguesmi commented on #351
In this case, the worker aborted the task without removing the post-compute container.

Worker v5.1.0-rc1:
[code]

[2021-04-13 12:47] PierreJeanjacquot opened #364 "iexec_developer_logger: true does not trigger logger"
**Issue :**

setting request param `"iexec_developer_logger": true` does not trigger debug logger

**To reproduce:**

[code]

core api output: https://core.dev-pool.viviani.iex.ec/tasks/0xfa7666d9f7d091ba5fd0290181241ee6e8c0f78ec6bc3d2553e14dd90ce43fc2

[2021-04-13 15:37] PierreJeanjacquot commented on #364
looks like stdout is present at: https://core.dev-pool.viviani.iex.ec/tasks/0xfa7666d9f7d091ba5fd0290181241ee6e8c0f78ec6bc3d2553e14dd90ce43fc2/stdout

[2021-04-14 10:20] james-toussaint opened #365 "Contribute if wall clock time is reached"
The worker should contribute if the wall clock time of the job is reached.
On container execution timeout, exit code is -1.
If we have such case, we should throw a WorkflowException and trigger post compute with something like `CATEGORY_TIMEOUT_REACHED` here:
https://github.com/iExecBlockchainComputing/iexec-worker/blob/develop/src/main/java/com/iexec/worker/executor/TaskManagerService.java#L234
I

[2021-04-14 13:02] zguesmi commented on #364
Thank you for submitting this issue @PierreJeanjacquot!
Indeed the second URL is the one to use when fetching a task's stdout.
From our side, we will look into possible ways to enhance the task's feedback.

[2021-07-01 12:15] blairmaclennan opened #384 "iExec V6 Middleware: Upgrades, Improvements, Fixes - LIST"
The iExec Core team identified specific areas for improvement for the iExec middleware:

- Websockets: Workers now do not need to be manually whenever there is a communication error between the worker and the scheduler. (GitHub Issues: [[#128](https://github.com/iExecBlockchainComputing/iexec-worker/issues/182)]), [#198](https://github.com/iExecBlockchainComputing/iexec-worker/issues/198), [#332](

[2021-07-01 12:15] #384 closed, assigned to nobody

[2021-09-21 10:41] james-toussaint opened #396 "Stake too low"
Worker claims a stake too low:
[code]
1. TaskNotificationService
https://github.com/iExecBlockchainComputing/iexec-worker/blob/1b786315994682f5f49b79bb64ea5788e51dd738/src/main/java/com/iexec/worker/executor/TaskNotificationService.java#L98
* Should retry until task description is found

2. ContributionService

* Should properly check task is 'ACTIVE'  before going further (swap with stake check)

[2021-10-14 06:56] mcornaton opened #401 "APP_IMAGE_DOWNLOAD_FAILED on timeout"
Some images are too large to be downloaded within the limit of 1 minute. This triggers an `APP_IMAGE_DOWNLOAD_FAILED` status without any more details.

https://github.com/iExecBlockchainComputing/iexec-common/blob/85a43b29e22345c7aea9c9230263f014971a9254/src/main/java/com/iexec/common/docker/client/DockerClientInstance.java#L292

There are a few ways to fix the issue:
- Increase the timeout value

[2021-10-14 15:00] james-toussaint commented on #396
Fixed with:
* Common: https://github.com/iExecBlockchainComputing/iexec-common/pull/266
* Worker: https://github.com/iExecBlockchainComputing/iexec-worker/pull/399

See https://github.com/iExecBlockchainComputing/iexec-worker/releases/tag/6.0.4.

[2021-10-14 15:05] #396 closed, assigned to nobody

[2021-11-04 08:29] zguesmi commented on #351
The same issue appears here with version `6.0.5`.

The worker receives a task:
[code]
it starts the pre-compute container:
[code]
in the meantime, it receives a `PLEASE_ABORT` notification:
[code]
the worker aborts the task without removing the existing container:
[code]

[2021-11-04 09:03] james-toussaint commented on #351
I agree, plus we should restartGracefully() https://github.com/iExecBlockchainComputing/iexec-worker/blob/38869247e0411c4dd2c62cfec56af8f3f683ae31/src/main/java/com/iexec/worker/worker/WorkerService.java#L124-L124 on kill signal

[2021-11-10 15:44] zguesmi commented on #351
Fixed in #407

[2021-11-10 15:44] #351 closed, assigned to zguesmi

[2022-02-11 16:40] Miminoux opened #436 "Storage init on wrong result-proxy"
I initialized a storage specifying the wrong resultProxy.
The workerpool accepted my order but got an error at the end when publishing the result to the result-proxy with an unauthorized token (error 401).

I believe there is a "storage initialized" check at the workerpool task initialisation (core or worker-precompute ?) but this verification should make sure the token is actually working for the

[2022-08-11 08:13] james-toussaint commented on #401
Fixed since v7.0.1 (https://github.com/iExecBlockchainComputing/iexec-worker/releases/tag/v7.0.1). Please reopen this ticket if you have any issue.

[2022-08-11 08:13] #401 closed, assigned to nobody